form {
  max-width: 500px;
}

.MuiTabPanel-root {
  flex-grow: 1;
  padding: 0;
}

@media screen and (min-width: 900px) {
  .MuiToolbar-gutters,
  .container {
    padding-right: var(--fractalflows-gutter-page-lg);
    padding-left: var(--fractalflows-gutter-page-lg);
  }

  .page {
    padding-top: 80px;
    padding-bottom: 140px;
  }

  /* .horizontal-tabs .MuiTabPanel-root {
    padding: 0 36px;
  } */
}

@media screen and (min-width: 1200px) {
  .MuiToolbar-gutters,
  .container {
    padding-right: var(--fractalflows-gutter-page-xl);
    padding-left: var(--fractalflows-gutter-page-xl);
  }
}
