form {
  max-width: 500px;
}

.MuiTabPanel-root {
  flex-grow: 1;
  padding: 0;
}

.MuiChip-root {
  cursor: inherit;
}

.MuiButton-root.MuiButton-text.MuiButton--nopadding {
  padding: 0;
  min-height: unset;
  min-width: unset;
}

#WEB3_CONNECT_MODAL_ID {
  z-index: 14000;
  position: fixed;
}

@media screen and (min-width: 900px) {
  /* .MuiToolbar-gutters, */
  .container {
    padding-right: var(--fractalflows-gutter-page-lg);
    padding-left: var(--fractalflows-gutter-page-lg);
  }

  .page {
    padding-top: 100px;
    padding-bottom: 140px;
  }

  /* .horizontal-tabs .MuiTabPanel-root {
    padding: 0 36px;
  } */
}

@media screen and (min-width: 1200px) {
  /* .MuiToolbar-gutters, */
  .container {
    padding-right: var(--fractalflows-gutter-page-xl);
    padding-left: var(--fractalflows-gutter-page-xl);
  }
}
