.container {
  padding-right: var(--fractalflows-gutter-page-sm);
  padding-left: var(--fractalflows-gutter-page-sm);
}

.page {
  padding-top: 90px;
  padding-bottom: 140px;
  min-height: 90vh;
}

@media screen and (min-width: 992px) {
  .MuiToolbar-gutters,
  .container {
    padding-right: var(--fractalflows-gutter-page-lg);
    padding-left: var(--fractalflows-gutter-page-lg);
  }
}

@media screen and (min-width: 1200px) {
  .MuiToolbar-gutters,
  .container {
    padding-right: var(--fractalflows-gutter-page-xl);
    padding-left: var(--fractalflows-gutter-page-xl);
  }
}
