.slider {
  --fractalflows-considerit-thumb-height: 5px;
  --fractalflows-considerit-franklin-diameter: 50px;
  margin-bottom: 40px;
}

@media screen and (min-width: 900px) {
  .slider {
    margin-bottom: 100px;
  }
}

.slider__thumb {
  background-color: #e0e0e0;
  height: var(--fractalflows-considerit-thumb-height);
  position: relative;
  margin-left: calc(var(--fractalflows-considerit-franklin-diameter) / 2);
  margin-right: calc(var(--fractalflows-considerit-franklin-diameter) / 2);
}

.slider__thumb--moving {
  background-color: #ddd;
}

.slider__handle {
  height: var(--fractalflows-considerit-franklin-diameter);
  width: var(--fractalflows-considerit-franklin-diameter);
  border-radius: 50%;
  position: relative;
  top: calc(
    var(--fractalflows-considerit-franklin-diameter) / -2 +
      var(--fractalflows-considerit-thumb-height) / 2
  );
  margin-left: calc(var(--fractalflows-considerit-franklin-diameter) / -2);
  touch-action: none;
}

.slider__franklin {
  background-color: var(--fractalflows-colors-primary);
  height: 100%;
  width: 100%;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.15s;
}

.slider__label {
  color: var(--fractalflows-colors-primary);
  font-weight: 600;
  position: absolute;
  white-space: nowrap;
  user-select: none;
  transform: translateX(-50%);
  margin-left: calc(var(--fractalflows-considerit-franklin-diameter) / 2);
  top: calc(var(--fractalflows-considerit-franklin-diameter) + 8px);
}

.slider__label--opining {
  display: none;
}

.slider__cta {
  position: absolute;
  white-space: nowrap;
  user-select: none;
  transform: translateX(-50%);
  margin-left: calc(var(--fractalflows-considerit-franklin-diameter) / 2);
  bottom: -35px;
}

.slider__cta:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: calc(50% - 8px);
  top: -16px;
  border: 8px solid;
  border-color: transparent transparent var(--fractalflows-colors-primary)
    transparent;
}
